@charset "UTF-8";

/* ==================== */
/* == sseeeedd
/* ==================== */
@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";

@import "vendors/normalize";

@import "base/base";
@import "base/typography";
@import "base/contents";
@import "base/forms";
@import "base/buttons";
@import "base/helpers";

@import "layout/base";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";


/* ==================== */
/* == Custom
/* ==================== */
.mb-0 {
  margin-bottom: 0 !important;
}

.mt-2 {
  margin-top: $gutter * 2 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.p-absolute {
  position: absolute !important;
}

fieldset,
.fieldset,
form[class*="grid"] {
  margin: $gutter 0;
  max-width: none;
}
